/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.home-container{
    padding: 0 5px;
    margin-top:350px;
}


.home-about{
    margin-top: 50px;
    margin-bottom: 100px;
    scroll-margin-top: 150px;
}


.home-about-text{
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: 15px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    max-width: 100%;
  }


.typewriter-line1{
    width: 7ch;
    overflow: hidden;
    white-space: nowrap;
    -webkit-animation: typing1 0.5s steps(7);
            animation: typing1 0.5s steps(7);
}

.typewriter-line2{
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    -webkit-animation: typing2 2s steps(46) forwards;
            animation: typing2 2s steps(46) forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}

@-webkit-keyframes typing1{
    from{
        width: 0;
    }
}

@keyframes typing1{
    from{
        width: 0;
    }
}

@-webkit-keyframes typing2{
    from{
        width: 0;
    }
    to{
        width: 46ch;
    }
}

@keyframes typing2{
    from{
        width: 0;
    }
    to{
        width: 46ch;
    }
}

@-webkit-keyframes typing3{
    from{
        width: 0;
    }
    to{
        width: 46ch;
    }
}

@keyframes typing3{
    from{
        width: 0;
    }
    to{
        width: 46ch;
    }
}



.home-about-link{
    display: block;
    width:140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: white;
    border-radius: 25px;
    padding: 5px 15px;
    background-color: #317A86;
    font-size: 18px;
}

.home-about-link:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.home-skills{
    margin-bottom: 150px;
    text-align: center;
    scroll-margin-top: 150px;
}


.home-about-title{
    text-align: center;
}

.home-projects{
    margin-bottom: 100px;
    scroll-margin-top: 150px;
}





                                
.home-project-galery-item{
    display: block;
    position: relative;
    padding: 20px 0;
}

.home-project-galery-item-image:hover{
    opacity: 0.5;
}

.home-project-galery-item-title{
    padding: 0 50px;
    color:white;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 32px;
}

@media only screen and (min-width: 820px){
    .home-about-title{
        
    }
    .home-container{
        padding: 0 30px;
    }

    .home-projects-galery{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .home-project-galery-item-image{
        width: 820px;
        height: auto;
    }
}


@media only screen and (min-width: 511px){
    .home-container{
        margin-top:210px;
    }
}


@media only screen and (min-width: 769px){
    .home-container{
        margin-top:150px;
    }
}