
.main-header{
  position: fixed;
  top:0;
  left: 0;
  color: white;
  width: 100%;
  background-image: linear-gradient(to bottom, #FFF, #317A86);
  padding:20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  transition: 0.5s;
  z-index: 1000;
}




.flex-nav{
  flex-grow: 1;
}



.link-header{
  display: block;
  padding: 20px;
  font-size:25px;
}

.ul-header{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  margin: 0;
}



a{
  color: white;
  text-decoration: none;
}

.link:hover{
  background-color: #5D8679;
  border-radius: 25px;
  transform: scale(1.1);
}

a:active{
  color: #5D8679;
}


.link-header:hover{
  background-color: #5D8679;
  border-radius: 25px;
  transform: scale(1.1);
  transition: transform 0.5s;
}



@media only screen and (max-width: 511px){
  .ul-header{
    flex-direction: column;
  }
  .main-header{
    position: absolute;
  }
}

@media only screen and (max-width: 769px){
  .main-header{
    flex-direction: column;
  }
}