/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.profile-picture{
  display: block;
  margin: auto;
  width: 50%;
  border-radius: 25px;
}

.about-content{
  padding: 5px;
  margin-top: 150px;
}

.about-text{

  text-align: center;
  padding: 15px;

}

.about-text p{
  font-size: 20px;
}

.updated-date{
  margin-top: 50px;
  text-align: right;
  font-style: italic;
}




@media only screen and (min-width: 820px){
  .profile-picture{
    float: left;
    min-width: 28%;
    min-height: 28%;
    border-radius: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 25%!important;
  }


  .about-content{
    padding: 20px;
  }

  .presentation-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;     
  }
  
}

@media only screen and (min-width: 310px){
  .profile-picture{
    
  }
}