.profile-picture{
  width: 28%;
  height: 28%;
  min-width: 28%;
  min-height: 28%;
}

.about-content{
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: white;
}

.passionate-text{
  margin-left: 5px;
  text-align: center;
  padding: 5px;
}

.presentation-content{
  display: flex;
  flex-direction: row;
}
