.competence-content{

}

.competence-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px;
}

.item-competence{
  display: inline-block;
  background-color: #61727C;

  margin: 5px;
  padding: 5px;
  width: 118px;
  text-align: center;
  color: rgba(255,255,255,0.8);
  font-weight: bolder;
}
